@model PagedList.StaticPagedList<MvcApplication1.Common.listModel>
@{
    ViewBag.Title = ViewBag.type;
}
@using MvcApplication1.Common
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
   <!-- content -->
   <div id="content">
      <div class="container">
      	<!-- main-banner-small begin -->
         <div class="main-banner-small">
         	<div class="inner">
            	<h1>Even the biggest success Starts with a first step</h1>
            </div>
         </div>
         <!-- main-banner-small end -->
         <div class="wrapper page4">
             @Html.Partial("HomeLeft",ViewBag.left as HomeLeft)
             @Html.Action("homeRightlist", new { listmodel = Model, strTypes = "新闻动态", strType = ViewBag.type,@strActions="News",@strAction="NewsShow" })
         </div>
      </div>
   </div>
