@model MvcApplication1.Models.NewsModels
@{
    ViewBag.Title = Model.Title;
}
@using MvcApplication1.Common
   <!-- content -->
   <div id="content">
      <div class="container">
      	<!-- main-banner-small begin -->
         <div class="main-banner-small">
         	<div class="inner">
            	<h1>Even the biggest success Starts with a first step</h1>
            </div>
         </div>
         <!-- main-banner-small end -->
         <div class="wrapper page4">
            @Html.Partial("HomeLeft",ViewBag.left as MvcApplication1.Common.HomeLeft)
            @Html.Partial("HomeRightShow", new HomeRightShow { Type = ViewBag.type, Title = Model.Title, PubDate = Model.PubDate, UserName = Model.UserName, Count = Model.Count, Content = Model.Content })
         </div>
      </div>
   </div>
