@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/FlashUpFile.js")" type="text/javascript"></script>
<h3 class="mt">修改头像
</h3>

<form method="post" autocomplete="off" action="home.php?mod=spacecp&amp;ac=avatar&amp;ref">
@{
    var isSave = string.IsNullOrEmpty(ViewBag.image) ? "0" : "1";
    var strimg = "/Content/images/noavatar_big.gif";
}
<table width="100%" cellspacing="0" cellpadding="0" class="tfm">
    <caption>
        <h4 class="xs2">当前我的头像</h4>
        <p>如果您还没有设置自己的头像，系统会显示为默认头像，您需要自己上传一张新照片来作为自己的个人头像 </p>
    </caption>
    <tbody>
        <tr>
            <td><img style="width:120px;" id="avatar" src="@(ViewBag.image??strimg)"></td>
        </tr>
    </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" class="tfm">
    <caption>
        <h4 class="xs2">设置我的新头像</h4>
        <p>请选择一个新照片进行上传编辑。<br>头像保存后，您可能需要刷新一下本页面，才能查看最新的头像效果 </p>
    </caption>

    <tbody>
        <tr>
            <td>
                <div id="FlashUp"></div>
                <script type="text/javascript">
                    var str = AC_FL_RunContent('width', '450', 'height', '253', 'scale', 'exactfit', 'src', '@Url.Content("~/Content/common/camera.swf")?inajax=1&appid=@isSave&input=@ViewBag.uid&agent=9cd12bc0603f21c5a2851402152b635b&ucapi=http://localhost:4822/Upload/FlashUpFile&avatartype=virtual&uploadSize=2048', 'id', 'mycamera', 'name', 'mycamera', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'menu', 'false', 'swLiveConnect', 'true', 'allowScriptAccess', 'always');
                    $("#FlashUp").html(str);
                </script>
            </td>
        </tr>
    </tbody>
</table>
</form>
               <script type="text/javascript">
                   function updateavatar(sender, args) {
                       $('#avatar').attr("src", '/Uploadfile/headImg/@(ViewBag.uid)-medium.jpg?random=1' + Math.random());
                   
                   }
               </script>   