@{
    Layout = null;
}
<!doctype html public "-//w3c//dtd html 4.0 frameset//en">
<html>
<head>
    <title>办公管理系统后台界面演示</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="mshtml 6.00.2900.5848" name="generator">
</head>
    <frameset id="index" border="0" framespacing="0" rows="120,*" frameborder="no">
        <frame id="topframe" name="topframe" src="/Admin/Menu/Top" noresize="noresize" scrolling="no" />
        <frameset border="0" framespacing="0" frameborder="no" cols="250,*">
            <frame id="leftframe" name="leftframe" src="/Admin/Menu/Left" noresize="noresize" scrolling="no" />
            <frame id="mainframe" name="mainFrame" src="/Admin/Menu/Right" noresize="noresize" scrolling="auto" />
        </frameset>
    </frameset>
<noframes>
</noframes>
</html>
