            <table class=gridview id=ctl00_contentplaceholder2_gridview1 
      style="width: 100%; border-collapse: collapse" cellspacing=0 rules=all 
      border=1>
              <tbody>
                <tr>
                  <th class=gridviewheader style="width: 50px" scope=col>&nbsp;</th>
                  <th class=gridviewheader scope=col>用户id</th>
                  <th class=gridviewheader scope=col>姓名</th>
                  <th class=gridviewheader scope=col>密码</th>
                  <th class=gridviewheader scope=col>角色</th>
                  <th class=gridviewheader scope=col>用户详情</th>
                  <th class=gridviewheader scope=col>更新</th>
                  <th class=gridviewheader scope=col>删除</th>
                </tr>
                <tr>
                  <td class=gridviewitem style="width: 50px"><img 
            src="employeemgr.files/bg_users.gif"> </td>
                  <td class=gridviewitem>admin</td>
                  <td class=gridviewitem>系统管理员</td>
                  <td class=gridviewitem>admin</td>
                  <td class=gridviewitem>1</td>
                  <td class=gridviewitem><a class=cmdfield 
            href="http://localhost:1479/web/sys/employeedetails.aspx?userid=admin">查看详情</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1','edit$0')">编辑</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            id=ctl00_contentplaceholder2_gridview1_ctl02_linkbutton1 
            onclick="return confirm('确定要删除吗？');" 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1$ctl02$linkbutton1','')">删除</a> </td>
                </tr>
                <tr>
                  <td class=gridviewitem style="width: 50px"><img 
            src="employeemgr.files/bg_users.gif"> </td>
                  <td class=gridviewitem>lili</td>
                  <td class=gridviewitem>lili</td>
                  <td class=gridviewitem>lili</td>
                  <td class=gridviewitem>2</td>
                  <td class=gridviewitem><a class=cmdfield 
            href="http://localhost:1479/web/sys/employeedetails.aspx?userid=lili">查看详情</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1','edit$1')">编辑</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            id=ctl00_contentplaceholder2_gridview1_ctl03_linkbutton1 
            onclick="return confirm('确定要删除吗？');" 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1$ctl03$linkbutton1','')">删除</a> </td>
                </tr>
                <tr>
                  <td class=gridviewitem style="width: 50px"><img 
            src="employeemgr.files/bg_users.gif"> </td>
                  <td class=gridviewitem>liwei</td>
                  <td class=gridviewitem>liwei</td>
                  <td class=gridviewitem>liwei</td>
                  <td class=gridviewitem>2</td>
                  <td class=gridviewitem><a class=cmdfield 
            href="http://localhost:1479/web/sys/employeedetails.aspx?userid=liwei">查看详情</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1','edit$2')">编辑</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            id=ctl00_contentplaceholder2_gridview1_ctl04_linkbutton1 
            onclick="return confirm('确定要删除吗？');" 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1$ctl04$linkbutton1','')">删除</a> </td>
                </tr>
                <tr>
                  <td class=gridviewitem style="width: 50px"><img 
            src="employeemgr.files/bg_users.gif"> </td>
                  <td class=gridviewitem>ljs</td>
                  <td class=gridviewitem>ljs</td>
                  <td class=gridviewitem>ljs</td>
                  <td class=gridviewitem>2</td>
                  <td class=gridviewitem><a class=cmdfield 
            href="http://localhost:1479/web/sys/employeedetails.aspx?userid=ljs">查看详情</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1','edit$3')">编辑</a></td>
                  <td class=gridviewitem><a class=cmdfield 
            id=ctl00_contentplaceholder2_gridview1_ctl05_linkbutton1 
            onclick="return confirm('确定要删除吗？');" 
            href="javascript:__dopostback('ctl00$contentplaceholder2$gridview1$ctl05$linkbutton1','')">删除</a> </td>
                </tr>
              </tbody>
            </table>