<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<html>
<head>
    <title>办公管理系统后台界面演示</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="MSHTML 6.00.2900.5848" name="GENERATOR">
</head>
<frameset id="index" border="0" framespacing="0" rows="120,*" frameborder="no"><FRAME id=topFrame 
name=topFrame src="files/Top.htm" noResize scrolling=no><FRAMESET 
border=0 frameSpacing=0 frameBorder=no cols=20%,*><FRAME id=leftFrame 
name=leftFrame src="files/Left.htm" noResize scrolling=no><FRAME 
id=mainFrame name=mainFrame src="files/EmployeeMgr.htm" noResize 
scrolling=no></FRAMESET></frameset>
<noframes>
</noframes>
</html>
