         	<div class="col-1 maxheight">
            	<!-- box begin -->
               <div class="box maxheight">
                  <div class="border-top maxheight">
                     <div class="border-right maxheight">
                        <div class="border-bot maxheight">
                           <div class="border-left maxheight">
                              <div class="left-top-corner maxheight">
                                 <div class="right-top-corner maxheight">
                                    <div class="right-bot-corner maxheight">
                                       <div class="left-bot-corner maxheight">
                                           <div class="inner">
                                               <h2>医院概况</h2>
                                              <div class="clr"></div>
                                               <ul class="sb_menu">
                                                    <li><a href="/About/1">医院简介</a></li>
                                                    <li><a href="/About/2">组织架构</a></li>
                                                    <li><a href="/Reader">现任领导</a></li>
                                                    <li><a href="/Images">医院图片</a></li>
                                               </ul>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- box end -->
            </div>