

<style>
    #username {
        width: 135px;
    }
    #password {
        width: 135px;
    }
    .l {
        padding: 10px 0;
    }
</style>
<div class="userlogin" style="width:500px;margin:0 auto;">
    <div class="l">
        <div style="float:left;width:65px;">
            <label for="username" class="z psw_w">用户名</label>
        </div>
        <div style="float:left;">
            <input type="text" name="username" id="username" autocomplete="off" class="px vm" tabindex="901">
        </div>
        <div style="clear:both;"></div>
    </div>
    <div calss="l">
        <div style="float:left;width:65px;">
            <label for="password" class="z psw_w">密码</label>
        </div>
        <div style="float:left;">
            <input type="text" name="password" id="password" autocomplete="off" class="px vm" tabindex="901">
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="l">
        <div style="padding-left:65px;">
            <button type="submit" class="pn vm" tabindex="904" style="width: 75px;"><strong>登录</strong></button>
        </div>
        
    </div>
    
</div>

